* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(13, 13, 13);
  color: antiquewhite;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 10fr;
}

.dashboard__left-container {
}

.dashboard__right-container {
  display: grid;
  grid-template-columns: 10fr;
  grid-template-rows: 1fr 9fr;
}

.dashboard__main-page {
  background-color: yellow;
}
